@font-face {
	font-family: "title";
		src:
    url("./assets/title1.ttf");
}

@import url(https://fonts.googleapis.com/earlyaccess/cwtexkai.css);
body {
	background-image: url("./assets/background.png");
    background-color: #cccccc;
	background-size: contain;
}


h1 {
    text-align: center;
	color: #49A0CC;
}

h2 {
    text-align: center;
	color: #49A0CC;
}
